RELEASE_NAME=brokerage-service-ui
NAMESPACE=paidiver-st3

# Cluster issuer for cert-manager.
CLUSTER_ISSUER_NAME=letsencrypt-brokerage-service-ui

# GHCR pull secret.
GHCR_SECRET_NAME=brokerage-service-ui-ghcr-pull-secret
GHCR_USERNAME=bodcsoft
GHCR_TOKEN=***

